<section class="calendar">
  <table class="calendar-wrapper">
    <caption>
      Class Calendar
    </caption>
    <thead>
      <th id = "Sun">SUN</th>
      <th id = "Mon">MON</th>
      <th id = "Tue">TUE</th>
      <th id = "Wed">WED</th>
      <th id = "Thu">THU</th>
      <th id = "Fri">FRI</th>
      <th id = "Sat">SAT</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
      </tr>
      <tr>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
      </tr>
      <tr>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>28</td>
      </tr>
      <tr>
        <td>29</td>
        <td>30</td>
        <td>31</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <%
  attachCourse = function(day) {
    if(userCourse.length > 0){
      userCourse.forEach((schedule) => {
        if (schedule.day.includes(day)) {%>
          <div>
            <span>
              <%=schedule.courseName%>
            </span>
          </div>
        <%}
        }
      )
    }
  }
  %>
  <section class="schedule">
    <section class="Monday classes">
      <%attachCourse('M')%>
    </section>
    <section class="Tuesday classes">
      <%attachCourse('T')%>
    </section>
    <section class="Wednesday classes">
      <%attachCourse('W')%>
    </section>
    <section class="Thursday classes">
      <%attachCourse('R')%>
    </section>
    <section class="Friday classes">
      <%attachCourse('F')%>
    </section>
  </section>
  
  <section class="legend">
    <h2>Legend</h2>
    <ul>
      <li><span class="quiz">0</span> Quiz</li>
      <li><span class="lab">0</span> Lab</li>
      <li><span class="homework">0</span> Homework</li>
      <li><span class="office-hours">0</span> Office Hours</li>
    </ul>
  </section>
</section>        