
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCU Map Scheduler</title>
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/nav.css">
    <link rel="stylesheet" href="stylesheets/calendar.css">
    <link rel="stylesheet" href="stylesheets/schedule.css">
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src = "javascripts/date-fns.js"></script>
    <%if(msg){%>
        <%if(msg == 'user'){%>
            <script defer src = "javascripts/calendar.js"></script>
            <link rel="stylesheet" href="stylesheets/user.css">
        <%}%>
    <%}%>
    <script type="module" src="javascripts/map.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity=
        "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
    