<body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
        data-client_id="524569409435-hmbta1vbvgdpfmvfq2m8h5a6df6bv7t5.apps.googleusercontent.com"
        data-auto_select="false"
        data-auto_prompt="false"
        data-callback="onSignIn">
    </div>
    <div class="g_id_signin"
       data-type="standard"
       data-size="large"
       data-theme="outline"
       data-text="sign_in_with"
       data-shape="rectangular"
       data-logo_alignment="left">
    </div>
    <button class="g_id_signout" onclick="onSignout()">Sign Out</button>
    <script type="text/javascript">
        var email;

        function onSignIn(response) {
          // get user profile information
            console.log("Encoded JWT ID token: " + response.credential);

            httpRequest = new XMLHttpRequest();

            if (!httpRequest) {
                alert("Giving up :( Cannot create an XMLHTTP instance");
                return false;
            }
            httpRequest.onreadystatechange = SignInresponse;
            httpRequest.open("POST", "http://localhost:3000/signIn");
            httpRequest.setRequestHeader("Content-Type", "application/json");
            httpRequest.send(JSON.stringify({credential:response.credential}));

          //window.location.reload();
        }

        function SignInresponse() {
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200) {
                    console.log(httpRequest.responseText);
                } else {
                    alert(httpRequest.responseText);
                }
            }
        }

        function onSignout() {
            console.log("Signed out");
            google.accounts.id.disableAutoSelect();
            window.location.reload();

        }
    </script>
</body>