<!DOCTYPE html>
<html lang="en">
<head>
    <title>COEN 174 - Project</title>
    <%- include('../partials/head') %>
    
</head>
<body>
    <%- body %>

    <footer class = "main footer">
        <%- include('../partials/footer') %>
    </footer>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</html>