      <main>
        <section class="wrapper">
          <section class="month-selector">
            <label>
              <input
                name="month"
                type="radio"
                value="9"
                data-month = "8"
                
              />September</label
            >
            <label> <input name="month" type="radio" value="10" data-month = "9" />October</label>
            <label> <input name="month" type="radio" value="11" data-month = "10"/>November</label>
            <label> <input name="month" type="radio" value="12" data-month = "11"/>December</label>
          </section>
          <%-include('partials/calendar')%>
        </section>
      </main>
