@import 'base.css';

body {
    
  }

  html, body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    
  }
  
  #calendar {
    max-width: 900px;
    margin: 40px auto;
  }
  
  #calendarContainer,
  #organizerContainer {
    float: left;
    margin: 5px;
  }